<header>
  <!--LOGO-->
  <h1 class="logo">
    <a href="javascript:;"></a>
  </h1>
  <!--nav-->
  <nav id="gnav">
		<div class="logo-home">Home</div>
    <ul class="gnav-main">
      <li>
        <a href="javascript:;"><span>簡介</span></a>
      </li>
      <li class="current">
        <a href="javascript:;"><span>教學</span></a>
      </li>
      <li>
        <a href="javascript:;"><span>濾鏡</span></a>
      </li>
      <li>
        <a href="javascript:;"><span>講座</span></a>
      </li>
      <li>
        <a href="javascript:;"><span>抽獎</span></a>
      </li>
      <li>
        <a href="javascript:;"><span>精華</span></a>
      </li>
    </ul>
		<span class="nav-text">PHOTOGRAPHY</span>
  </nav>
  <!--menu-->
  <div class="btn-menu">
		<div class="menu"></div>
	</div>
	<div class="menu-content">
		<div class="menu-nav">
			<div class="btn-menu menu-collapsed">
				<div class="menu2"></div>
			</div>
		</div>
		<div class="menu-wrap">
			<div class="logo-menu">
				<a href="javascript:;">logo</a>
			</div>
			<ul>
				<li class="menu-item">
					<a href="javascript:;">
						<span class="menu-item-title">INTRODUCE</span>
						<span>攝影師簡介</span>
					</a>
				</li>
				<li class="menu-item">
					<a href="javascript:;">
						<span class="menu-item-title">TUTORIAL</span>
						<span>影片教學</span>
					</a>
				</li>
				<li class="menu-item">
					<a href="javascript:;">
						<span class="menu-item-title">FILTER</span>
						<span>風格濾鏡</span>
					</a>
				</li>
				<li class="menu-item">
					<a href="javascript:;">
						<span class="menu-item-title">LECTURE</span>
						<span>講座資訊</span>
					</a>
				</li>
				<li class="menu-item">
					<a href="javascript:;">
						<span class="menu-item-title">PRESENT</span>
						<span>抽獎活動</span>
					</a>
				</li>
				<li class="menu-item">
					<a href="javascript:;">
						<span class="menu-item-title">PROGRAM</span>
						<span>節目精華</span>
					</a>
				</li>
			</ul>
		</div>
		 <span class="nav-text">PHOTOGRAPHY</span>
	</div>

  <!--menu content-->
  <!--<div id="main-menu">
    <p class="logo">
      <a href="https://www.climarks.com/"
        ><img
          src="../common/images/logo_white.svg"
          width="140"
          height="28"
          alt="Web制作[クライマークス]"
      /></a>
    </p>
    <p class="tagline" style="transform: rotate(3.2deg)">
      <img
        src="../common/images/tagline.svg"
        width="120"
        height="120"
        alt="Consulting / Information Architecture / Designing"
      />
    </p>
    <p class="btn-menu">
      <button><em>メニュー</em></button>
    </p>
    <nav>
      <ul>
        <li id="menu-strength">
          <a href="/strength/"
            ><span class="menu-en"><span>Strength</span></span
            ><span><span>選ばれる理由</span></span></a
          >
        </li>
        <li id="menu-service">
          <a href="/service/"
            ><span class="menu-en"><span data-text="06">Service</span></span
            ><span><span>サービス</span></span></a
          ><button>開く</button>
          <ul>
            <li>
              <a href="/service/web/"><span data-text="10">Web制作</span></a
              ><button>開く</button>
              <ul>
                <li>
                  <a href="/service/web/corporate.html"
                    ><span>コーポレート／サービスサイト</span></a
                  >
                </li>
                <li>
                  <a href="/service/web/large.html"
                    ><span>大規模サイト</span></a
                  >
                </li>
                <li>
                  <a href="/service/web/international.html"
                    ><span>多言語サイト</span></a
                  >
                </li>
                <li>
                  <a href="/service/web/recruit.html"
                    ><span>採用サイト</span></a
                  >
                </li>
                <li>
                  <a href="/service/web/university.html"
                    ><span>大学サイト</span></a
                  >
                </li>
                <li>
                  <a href="/service/web/mobile.html"
                    ><span>モバイル／スマートフォンサイト</span></a
                  >
                </li>
                <li>
                  <a href="/service/web/responsive.html"
                    ><span>レスポンシブWebデザイン</span></a
                  >
                </li>
                <li>
                  <a href="/service/web/webmarketing.html"
                    ><span>Webマーケティング</span></a
                  >
                </li>
                <li>
                  <a href="/service/web/research.html"
                    ><span>調査分析／Webコンサルティング</span></a
                  >
                </li>
                <li>
                  <a href="/service/web/system.html"
                    ><span>システム・インテグレーション</span></a
                  >
                </li>
              </ul>
            </li>
            <li>
              <a href="/service/graphic/"><span>グラフィック制作</span></a>
            </li>
            <li>
              <a href="/service/movie/"><span>映像制作</span></a>
            </li>
            <li>
              <a href="/service/crossmedia/"
                ><span data-text="01">クロスメディア制作</span></a
              ><button>開く</button>
              <ul>
                <li>
                  <a href="/service/crossmedia/recruit.html"
                    ><span>採用ツール制作</span></a
                  >
                </li>
              </ul>
            </li>
            <li>
              <a href="/service/contents/"><span>コンテンツ制作</span></a>
            </li>
            <li>
              <a href="/service/translation/"><span>翻訳</span></a>
            </li>
          </ul>
        </li>
        <li id="menu-portfolio">
          <a href="/portfolio/"
            ><span class="menu-en"><span data-text="04">Work</span></span
            ><span><span>制作実績</span></span></a
          ><button>開く</button>
          <ul>
            <li>
              <a href="/portfolio/"><span>Web制作実績</span></a>
            </li>
            <li>
              <a href="/portfolio/graphic/"
                ><span>グラフィック制作実績</span></a
              >
            </li>
            <li>
              <a href="/portfolio/movie/"><span>映像制作実績</span></a>
            </li>
            <li>
              <a href="/portfolio/crossmedia/"
                ><span>クロスメディア制作実績</span></a
              >
            </li>
          </ul>
        </li>
        <li id="menu-company">
          <a href="/company/"
            ><span class="menu-en"><span data-text="04">About</span></span
            ><span><span>企業情報</span></span></a
          ><button>開く</button>
          <ul>
            <li>
              <a href="/company/info.html"><span>会社概要</span></a>
            </li>
            <li>
              <a href="/company/concept.html"><span>企業理念</span></a>
            </li>
            <li>
              <a href="/company/message.html"><span>代表メッセージ</span></a>
            </li>
            <li>
              <a href="/company/access.html"><span>地図／アクセス</span></a>
            </li>
          </ul>
        </li>
        <li id="menu-recruit">
          <a href="/recruit/"
            ><span class="menu-en"><span data-text="04">Recruit</span></span
            ><span><span>採用情報</span></span></a
          ><button>開く</button>
          <ul>
            <li>
              <a href="/recruit/info.html"><span>募集要項</span></a>
            </li>
            <li>
              <a href="/recruit/message.html"><span>代表メッセージ</span></a>
            </li>
            <li>
              <a href="/recruit/staff.html"
                ><span data-text="03">社員を知る！</span></a
              ><button>開く</button>
              <ul>
                <li>
                  <a href="/recruit/producer01.html"
                    ><span>プロデューサー</span></a
                  >
                </li>
                <li>
                  <a href="/recruit/director02.html"
                    ><span>ディレクター</span></a
                  >
                </li>
                <li>
                  <a href="/recruit/designer02.html"><span>デザイナー</span></a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/recruit/form.php"><span>エントリー</span></a>
            </li>
          </ul>
        </li>
        <li id="menu-column">
          <a href="/column/"
            ><span class="menu-en"><span>Journal</span></span
            ><span><span>コラム</span></span></a
          >
        </li>
      </ul>
    </nav>
    <ul class="gnav-sub">
      <li id="nav-language">
        <a class="current" href="/">JP</a><a href="/eng/">EN</a>
      </li>
      <li><a href="/news/">News</a></li>
      <li><a href="/insight/">Insight</a></li>
      <li><a href="/contact/">お問い合わせ</a></li>
    </ul>
    <div class="main-menu-bg">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>-->
</header>
